@import url("https://fonts.googleapis.com/css?family=Trirong");
@import url("https://fonts.googleapis.com/css?family=Audiowide");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --body-font-one : "Trirong", sans-sans;
  --body-font-two : "Audiowide", sans-sans;
  --body-background-color :beige;
  --header-background-color : #262726;
  --card-background-color:#9F8C76;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  background-color:var(--body-background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Application Style */
header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--header-background-color);
  /* background-color: 17252A#; */
}

header h1 {
  margin: 0 20px;
  color: #fff;
  font-family: var(--body-font-two);
}

#movies,
#shows,#search {
  width: 230px;
  height: 30px;
  border: 1px solid black;
  border-radius: 20px;
  padding-left: 15px;
}
#movies {
  margin-left: 15px;
}
#shows {
  margin-left:200px;
}
.root{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.root section{
  /* text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "title title"
  "image summary"
  "rating rating";
  justify-items: center; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* margin-bottom: 30px; */
  /* padding-bottom: 50px; */
  /* margin-top: 10px;
  width: 60%;
  height:60%; */
  
  /* height: fit-content; */
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 5px;
  background-color: white; */
  
   width: 290px;
  /* height: 450px; */
  height: fit-content;
  margin: 19px 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 5px;
  background-color: var(--card-background-color);
}
.root section div {
  width: 200px;
  height: 150px;
  background-color: beige;
  margin: 19px 15px;
  opacity: .4;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
  border-radius: 5px;
  font-weight: bold;
    grid-area: rating;

}
.root section p {
  /* font-size: medium;
  grid-area: summary; */
  /* text-align: left;
  font-family: var(--body-font-one);
  margin-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: small;
} */
}
.root h3 {
  text-align: center;
  margin-top: 5px;
  font-family: var(--body-font-one);
  grid-area: title;
}
.root p {
  text-align: left;
  font-family: var(--body-font-one);
  margin-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: small;
}

ul {
  position: relative;
  top: 25px;
}
li {
  list-style: none;
  font-family: var(--body-font-one);
}
.loading {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(68, 7, 7);
  border-bottom: 16px solid rgb(68, 7, 7);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 130px;
  margin-bottom: 330px;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
footer {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: lightgray;
}
footer a {
  text-decoration: none;
}
